@font-face {
    font-family: "FeatureMono-Medium";
    src: url("FeatureMono-Medium.ttf");
}
@font-face {
    font-family: "FeatureMono-Bold";
    src: url("FeatureMono-Bold.ttf");
}
@font-face {
    font-family: "FeatureMono-Regular";
    src: url("FeatureMono-Regular.ttf");
}
@font-face {
  font-family: "FeatureMono-Thin";
  src: url("FeatureMono-Thin.ttf");
}

body {
    background-color: rgb(228, 228, 228);
    margin: 0 auto;
}

header {
    background-color: rgb(255, 255, 255);
    font-family:"FeatureMono-Medium";
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 36px;
    margin: 0 auto;
    padding: 5px;
}
#HeaderElements {
    text-align: left;
    margin-left: 20px;
}
main {
    padding: 5px;
    font-family: "FeatureMono-Regular";
}

/* */
